*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body { margin: 0; }

img.center {
  display: block;
  margin: 0 auto;
}


.columnsContainer, footer { position: relative; margin: .5em; }

.leftColumn, .rightColumn, footer {  padding: 1.25em;}

.leftColumn { margin-bottom: .5em; }

/* MEDIA QUERIES */
.leftColumn { margin-right: 40.5em; width: 400px}

.rightColumn { position: absolute; top: 0; right: 0; width: 32.75em; }

ul {
  list-style: none;
  padding-right: 0px;
}
.top, .bottom {
  text-align: center;
}

p{
  font-size: 2em;
}

li{
  font-size: 2em;
  padding-left: 0;
  padding-bottom: 5px;

}

h1 {
  font-size: 5em;
  margin-bottom: 10px;
  width: 1200px;
}

h3 {
  font-size: 3em;
  margin-bottom: 15px;
}

.redbutton {
  width: 100px;
  height: 100px;
}
/* entire container, keeps perspective */

.front {
  background: url(alone.jpg) 0 0 no-repeat;
}

.back {
  background: url(together.jpg) 0 0 no-repeat;
}

.flip-container {
  perspective: 1200px;
}

/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.hover .flipper {*/
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 1200px;
  height: 900px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.watermark {
  /* the actual 'watermark' */
  position: absolute;
  top: 0; /* or whatever */
  left: 0; /* or whatever, position according to taste */
  opacity: 0.5; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
  filter:alpha(opacity=50); /* for <= IE 8 */
}