p {
  font-size: 2em; /* 14px/16=0.875em */
}

h1 {
  font-size: 5em; /* 14px/16=0.875em */
  margin-bottom: 10px;
}

h3 {
  font-size: 3em; /* 14px/16=0.875em */
  margin-bottom: 15px;

}

.top, .bottom {
  text-align: center;
}

#container2 {
  clear:left;
  float:left;
  width:100%;
  overflow:hidden;
}
#container1 {
  float:left;
  width:100%;
  position:relative;
  right:50%;
}

.left {
  float:left;
  /*width:46%;*/
  width:40%;
  position:relative;
  left:60%;
  /*left:52%;*/
  overflow:hidden;
  border: 1px;
}

.right {
  float:left;
  width:46%;
  position:relative;
  left:56%;
  overflow:hidden;
  border: 1px;
}
/*
*****
*****
*****
*****
*****
 */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1200px;
}
/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.hover .flipper {*/
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 1200px;
  height: 900px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}